body {
  width: 100%;
}
img {
  width: 100%;
}
.header,
.footer {
  padding: 20px 0;
}
.header .container,
.footer .container {
  position: relative;
  display: flex;
}
.nav {
  flex-grow: 1;
  justify-content: flex-end;
}
.drop-down {
  margin: 0 20px;
  cursor: pointer;
  width: 20px;
  display: flex;
  align-items: center;
}
.drop-down img {
  transition: all 0.2s ease;
}
.drop-down:hover img {
  transform: scale(1.2);
}
.drop-down img {
  width: 100%;
}
.drop-down-list {
  display: none;
  position: absolute;
  right: 0;
  bottom: -100px;
}
.list-group-item {
  cursor: pointer;
  transition: all 0.2s ease;
}
.list-group-item:hover {
  background-color: lightgrey;
}
.banner {
  padding: 40px 0;
}
.slider {
  overflow: hidden;
}
.catalog {
  padding: 40px 0;
}
.card-list {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 30%;
}
.card-modal {
  padding: 40px 60px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: none;
  z-index: 153;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.card-modal-container {
  padding: 40px 60px;
  overflow: auto;
  height: 100%;
  background-color: #fff;
}
.card-modal-img-box {
  width: 45%;
}
.card-modal-text {
  width: 45%;
}
.card-modal-body {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.modal-close {
  margin-top: 20px;
}
.form {
  padding: 40px 0;
}
.form-check-input {
  cursor: pointer;
}